

@font-face {
    font-family:"Mriya Grotesk"; 
    src: url(../font/Lezze0U70pJEPJ0WQDqnI3ABU.woff2) format("woff2");
    font-style: normal;
}
@font-face {
    font-family:"Manrope"; 
    src: url(../font/xn7gYHE41ni1AdIRggexSg.woff2) format("woff2");
    font-style: normal;
}
@font-face {
    font-family:"NanumSquareNeo";
    src: url(../font/NanumSquareNeo-Variable.woff2) format("woff2");
    font-weight: 100 900;
}
@font-face {
    font-family:"NanumSquareNeoalt";
    src: url(../font/NanumSquareNeoTTF-aLt.woff2) format("woff2");
}
@font-face {
    font-family: "pretendard";
    src: url(../font/PretendardVariable.woff2) format("woff2");
    font-weight: 100 900;
}